<main>
  <div id="listhead">
    <span class="h sortable" data-sort="name"
      ><span class="sq c-name"></span>Name / publisher<span class="dir"></span
    ></span>
    <span class="h">Description</span>
    <span class="h"><span class="sq c-src"></span>Source</span>
    <span class="h sortable r" data-sort="installs"
      ><span class="sq c-inst"></span>Installs<span class="dir"></span
    ></span>
    <span class="h sortable r" data-sort="usage"
      ><span class="sq c-use"></span>Usage<span class="dir"></span
    ></span>
  </div>
  <div id="list">
    <div class="skel">
      <div class="b w60"></div>
      <div class="b w80"></div>
      <div class="b w30"></div>
      <div class="b"></div>
      <div class="b"></div>
    </div>
    <div class="skel">
      <div class="b w40"></div>
      <div class="b w60"></div>
      <div class="b w40"></div>
      <div class="b"></div>
      <div class="b"></div>
    </div>
    <div class="skel">
      <div class="b w80"></div>
      <div class="b w40"></div>
      <div class="b w30"></div>
      <div class="b"></div>
      <div class="b"></div>
    </div>
    <div class="skel">
      <div class="b w60"></div>
      <div class="b w80"></div>
      <div class="b w40"></div>
      <div class="b"></div>
      <div class="b"></div>
    </div>
    <div class="skel">
      <div class="b w40"></div>
      <div class="b w60"></div>
      <div class="b w30"></div>
      <div class="b"></div>
      <div class="b"></div>
    </div>
    <div class="skel">
      <div class="b w80"></div>
      <div class="b w40"></div>
      <div class="b w40"></div>
      <div class="b"></div>
      <div class="b"></div>
    </div>
    <div class="skel">
      <div class="b w60"></div>
      <div class="b w80"></div>
      <div class="b w30"></div>
      <div class="b"></div>
      <div class="b"></div>
    </div>
    <div class="skel">
      <div class="b w40"></div>
      <div class="b w60"></div>
      <div class="b w40"></div>
      <div class="b"></div>
      <div class="b"></div>
    </div>
    <div class="skel">
      <div class="b w80"></div>
      <div class="b w40"></div>
      <div class="b w30"></div>
      <div class="b"></div>
      <div class="b"></div>
    </div>
    <div class="skel">
      <div class="b w60"></div>
      <div class="b w80"></div>
      <div class="b w40"></div>
      <div class="b"></div>
      <div class="b"></div>
    </div>
    <div class="skel">
      <div class="b w40"></div>
      <div class="b w60"></div>
      <div class="b w30"></div>
      <div class="b"></div>
      <div class="b"></div>
    </div>
    <div class="skel">
      <div class="b w80"></div>
      <div class="b w40"></div>
      <div class="b w40"></div>
      <div class="b"></div>
      <div class="b"></div>
    </div>
  </div>
</main>
